:root {
    --violeta: #660099;
    --amarillo: #f6c504;
    --violetaOscuro: #2b0057;
    --lila: #e7d1ff;
    --amarilloClaro: #fefd97;
    --negro: #000;
    --blanco: #fff;
}
/* DISPLAY */
h1 {
    display: none;
}
/* BODY */
body {
    background-color: #e7d1ff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
footer {
    margin-top: auto;
}
/* NAV */
#nav-prin {
    margin-bottom: 0;
}
/* COLORES DE FONDO */
.bg-violeta{
    background-color: var(--violeta);
}
.bg-amarillo {
    background-color: var(--amarillo);
}
.bg-transparente {
    background-color: transparent;
}
/* FUENTES */
.font-blanco {
    color: var(--blanco);
}
.font-blanco:hover {
    color: var(--amarillo);
}
.font-tam-variable {
    font-size: 1.2rem;
}
.font-bold {
    font-weight: bold;
}
.h3-footer {
    padding: 8px 0;
    color: var(--violeta);
    text-align: center;
    font-size: 24px;
}
/* BOTONES */
.boton {
    color: var(--violeta);
    border-color: var(--violeta);
}
.boton:hover {
    background-color: var(--violeta);
    color: var(--amarillo);
    border: #2b0057;
}
.boton-contacto {
    background-color: var(--amarillo);
    color: var(--violeta);
    border: 2px solid var(--violeta);
}
/* LOGO */
.logo {
    width: 50%;
    min-width: 35px;
}
/* IMG */
.img-carrusel {
    max-height: 40rem;
}
.img-card-sucur {
    width: 90%;
    height: 250px;
}
/* MARGIN */
.titulos {
    margin: 8px 0;
}
.img-mt-card {
    margin-top: 16px !important;
}
.mar-0 {
    margin: 0;
}
/* FLEX */
.justify-content-spaceevenly {
    justify-content: space-evenly;
}
/* CARD */
.card {
    margin: 16px 0;
}

/* TITULOS */
.titulos-paginas {
    display: flex;
    justify-content: center;
    margin: 24px 0;
}

/* CONTACTO */
.form-contacto {
    margin: 16px 0;
}

@media only screen and (max-width: 768px) {
    .icon-nav {
        color:  var(--violeta);
    }
    #nav-secun a{
        color: var(--violeta);
        font-weight: bold;
    }
    #nav-prin {
        background-color: var(--amarillo);
    }
    #nav-prin ul {
        flex-direction: column;
        padding-left: 0;
    }
    #nav-prin li{
        justify-content: start !important;
    }
    #nav-prin a {
        color: var(--violeta);
        font-weight: bold;
    }
    /* CARDS */
    .prod2, .prod3 {
        display: none;
    }
    .sucur2, .sucur3 {
        display: none;
    }
    /* FOOTER */
    .icon {
        width: 28px;
    }
    .h3-footer {
        font-size: 12px;
    }
    .contenedor-boton-contacto {
        display: flex;
        margin: 0 25px 0 0;
    }
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
    /* NAV */
    .icon-nav {
        color:  var(--violeta);
    }
    #nav-secun a{
        color: var(--violeta);
        font-weight: bold;
    }
    #nav-prin {
        background-color: var(--amarillo);
    }
    #nav-prin ul {
        flex-direction: column;
        padding-left: 0;
    }
    #nav-prin li{
        justify-content: start !important;
    }
    #nav-prin a {
        color: var(--violeta);
        font-weight: bold;
    }
    /* CARDS */
    .prod3 {
        display: none;
    }
    .sucur3 {
        display: none;
    }
    /* FOOTER */
    .icon {
        width: 36px;
    }
    .h3-footer {
        font-size: 24px;
    }
    .contenedor-boton-contacto {
        display: flex;
        margin: 0 25px 0 0;
    }
}
@media only screen and (min-width: 992px) {
    #buscar {
        display: flex;
        justify-content: center;
    }
    .contenedor-boton-contacto {
        display: flex;
        justify-content: end;
        align-items: flex-end;
        margin: 0 0 0 25px;
    }
}
