<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Balance Indumentaria</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel="icon" href="../assets/img/logo.ico">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/estilos.css">
</head>

<body>
  <header class="container-fluid">
    <!-- NAV SUPERIOR -->
    <nav id="nav-secun" class=" row bg-amarillo navbar navbar-expand-lg navbar-light">
      <a class="col-2 navbar-brand d-flex justify-content-center" href="../index.html"><img class="logo"
          src="../assets/img/logoreducido.png" alt="Logo Balance Indumentaria"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="col-lg-10 col-12 collapse navbar-collapse" id="navbarSupportedContent">
        <form id="buscar" class="col-lg-8 col-12 form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Buscar..." aria-label="Search">
          <button class="boton btn my-2 my-sm-0" type="submit">Buscar</button>
        </form>
        <ul class="col-lg-4 col-12 navbar-nav mr-auto">
          <li class="col-lg-6 col-12 nav-item">
            <a class="nav-link" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                fill="currentColor" class="icon-nav bi bi-person" viewBox="0 0 16 16">
                <path
                  d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
              </svg> MI CUENTA</a>
          </li>
          <li class="col-lg-6 col-12 nav-item">
            <a class="nav-link" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                fill="currentColor" class="icon-nav bi bi-cart3" viewBox="0 0 16 16">
                <path
                  d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
              </svg> MI CARRITO</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- CIERRE DE NAV SUPERIOR -->
    <!-- NAV INF -->
    
    <nav id="nav-prin" class="bg-violeta row navbar navbar-expand-lg justify-content-center">
      <div class="col-lg-10 col-12 collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="col-12 mar-0 d-flex justify-content-center ">
          <li class="col-2 d-flex justify-content-center nav-item">
            <a class="font-blanco nav-link" href="../index.html">INICIO</a>
          </li>
          <li class="col-2 d-flex justify-content-center nav-item">
            <a class="font-blanco nav-link" href="productos.html">PRODUCTOS</a>
          </li>
          <li class="col-2 d-flex justify-content-center nav-item">
            <a class="font-blanco nav-link" href="sucursales.html">SUCURSALES</a>
          </li>
          <li class="col-2 d-flex justify-content-center nav-item">
            <a class="font-blanco nav-link" href="nosotros.html">NOSOTROS</a>
          </li>
          <li class="col-2 d-flex justify-content-center nav-item">
            <a class="font-blanco nav-link" href="contacto.html">CONTACTO</a>
          </li>
        </ul>
      </div>
    </nav>
    
    <!-- CIERRE DE NAV INF -->
  </header>
  <h1>Balance Indumentaria</h1>
  <main class="container-fluid">
    <div class="row">
        <h2 class="col-12 titulos-paginas">CONTACTO</h2>
    </div>
    <!-- FORMULARIO -->
    <form class="form-contacto container-fluid">
        <div class="form-group">
            <label for="formGroupExampleInput">Nombre Completo</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Tu nombre y apellido">
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Correo Electrónico</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="xxxxxxx@email.com">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">Asunto</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Asunto">
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Descripción</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="contenedor-boton-contacto row">
            <button type="submit" class="btn boton-contacto">Enviar</button>
        </div>
      </form>
    <!-- CIERRE DE FORMULARIO... -->

  </main>

  <!-- FOOTER -->
  <footer class="container-fluid">
    <!-- FOOTER ICONOS -->
    <div class="bg-violeta row">
      <div class="col-3 d-flex justify-content-center footer_redes--iconos">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-facebook" width="44"
          height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round"
          stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
        </svg>
      </div>
      <div class="col-3 d-flex justify-content-center footer_redes--iconos">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-twitter" width="44"
          height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round"
          stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path
            d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c-.002 -.249 1.51 -2.772 1.818 -4.013z" />
        </svg>
      </div>
      <div class="col-3 d-flex justify-content-center footer_redes--iconos">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram" width="44"
          height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round"
          stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <rect x="4" y="4" width="16" height="16" rx="4" />
          <circle cx="12" cy="12" r="3" />
          <line x1="16.5" y1="7.5" x2="16.5" y2="7.501" />
        </svg>
      </div>
      <div class="col-3 d-flex justify-content-center footer_redes--iconos">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-youtube" width="44"
          height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round"
          stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <rect x="3" y="5" width="18" height="14" rx="4" />
          <path d="M10 9l5 3l-5 3z" />
        </svg>
      </div>
    </div>
    <!-- CIERRE DE FOOTER ICONOS -->
    <!-- FOOTER TEXTO -->
    <div class="row bg-amarillo">
      <div class="col-12 footer__derechos">
        <h3 class="d-flex justify-content-center h3-footer ">Balance Indumentaria - Todos los derechos reservados 2022</h3>
      </div>
    </div>
    <!-- CIERRE DE FOOTER TEXTO -->
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
    crossorigin="anonymous"></script>
</body>

</html>